header {
    margin-bottom: 3rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

h1,
h2 {
    font-weight: lighter;
}

p {
    line-height: 1.6;
}

img {
    width: 100%;
}

.cast {
    width: 25%;
}

.selected {
    font-weight: bold;
    color: black
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

.cast li {
    font-size: .8rem;
}

.cast li img + div {
    font-weight: bold;
}

.cast li img + div + div{
    font-style: italic;
}

.cast li 

#game-of-thrones, #unbreakable-kimmy-schmidt {
    /* solid black border */
    margin-top: 60px;
    border-top: solid black;
    
}

#game-of-thrones .seasons ul li:last-child::after {
    content: "*";
}

#game-of-thrones .seasons ul::after {
    content: "Final Season";
    font-size: .7rem;
    color: #999;
}

