

body {
    /* width: 80%;
    margin: auto; */
    font-family: 'DM Sans', sans-serif;
}

p {
    font-weight: 500;
}

nav {
    padding-top: 5%;
    padding-left: 20%;
    margin: auto;
}

.impressionism-text h1 {
    color: rgba(213, 213, 213, 1);
    font-family: 'Playfair Display SC', serif;
}

.navbar-nav a {
    color: white;
    /* color: rgba(213, 213, 213, 1); */

}

.navbar-nav a:hover {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.body-section {
    background-color: rgba(213, 213, 213, 1);
    
}

.header-section {
    height: 60%;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    
}

.header-background {
    background-color: rgba(29, 20, 17, 0.7);
    background-blend-mode: multiply;
    height: 80%;
}

/* .navbar-nav {
    padding-bottom: 40%;
} */

/* .navbar {
    position: relative;
} */
/* 
.impressionism-text {
    position: absolute;
} */

.content {
    width: 80%;
    margin: auto;
}


.btn-light {
    color: black;
}
