

body {
    /* width: 80%;
    margin: auto; */
    font-family: 'DM Sans', sans-serif;
}

p {
    font-weight: medium;
}

nav {
    padding-top: 5%;
    width: 80%;
    margin: auto;
}

.impressionism-text h1 {
    color: white;
    font-family: 'Playfair Display SC', serif;
}

.navbar-nav a {
    color: white;
}

.navbar-nav a:hover {
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.header-section {
    height: 60%;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}

.content {
    width: 80%;
    margin: auto;
}


.btn-light {
    color: black;
}