body {
    background-image: url("../images/monet-sunset.png");
}

/* .row {
    display: flex;
} */

#index-container {
    display: block;
}

#index-header {
    color: rgba(213, 213, 213, 1);
    font-family: 'Playfair Display SC', serif;
    padding-left: 10%;
}

#index-header h1 {
    font-size: 64px;
}

#overview-text h3 {
    margin-bottom: 10%;
    
}

#overview-text {

    position: fixed;
    top: 0;
    left: 60vw;
    height: 100%;

    color: rgba(213, 213, 213, 1);
    background-color: rgba(29, 20, 17, 0.7);
    background-blend-mode: multiply;

    padding: 5%;
}

.btn-light {
    margin-top: 20%;
    color: black;
}

footer {
    background-color: black;
}