#header-section-origin {
    background-image: url("../images/renoir-dance-moulin-galette.png");
}

#header-section-techniques {
    background-image: url("../images/manet-folleis.jpg");
}

#header-section-content {
    background-image: url("../images/orsay-grain-field.jpg");
}

/* ACTUAL CSS */

.content {
    padding-top: 5%;
}

.content p {
    padding-bottom: 4%;
}

.impressionism-text {
    background-color: rgba(29, 20, 17, 0.7);
    background-blend-mode: multiply;
    width: 100%;
    height: 20%;
    margin: 0;
    padding-left: 10%;
    bottom: 0;
    
}

.impressionism-text h1 {
    font-size: 5.5vw;
}

.embedded-img {
    object-fit: cover;
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}

/* .embedded-img-right {
    float: right;
    width: 40%;
    height: auto;
    margin-left: 3%;
}

.embedded-img-left {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 2%;

} */

.content-title {
    margin: 0;
}

.quotes {
    font-style: italic;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(1.05); /* or some other value */
    transform:scale(1.05);
    /* background-color: rgba(29, 20, 17, 0.7);
    background-blend-mode: multiply; */
}
